.container {
  /* padding: 0 2rem; */
  position: relative;
  background-color: #5268e7;
  height: 100%;
}

.navbar {
  padding: 25px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.titleText {
  font-size: 50px;
  margin-top: 150px;
}

.hero {
  margin: 60px 40px;
}

.spanTitle {
  font-size: 20px;
}

.spanNavbar {
  color: #ff7033;
}

.bottom {
  position: absolute;
  padding: 50px;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 20%;
  border-radius: 100px 100px 0px 0px;
  box-shadow: -2px -2px 5px 2px #888;
}

.text {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.image {
  text-align: center;
}

.textSpan {
  color: #000;
  font-size: 14px;
}

.notes {
  width: 100%;
  text-align: center;
}
.bodyCard {
  padding: 120px 40px;
}
.cardConfirm {
  padding: 10px;
  height: 125px;
  margin-bottom: 10px;
}

.cardDeath {
  padding: 10px;
  height: 125px;
  margin-bottom: 10px;
}

.cardRecover {
  padding: 10px;
  height: 125px;
  margin-bottom: 10px;
}

.updateLast {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}
.update {
  font-size: 30px;
}
.cardConfirmCountry {
  padding: 10px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardDeathCountry {
  padding: 10px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardRecoverCountry {
  padding: 10px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.countries {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.rowCard {
  margin-top: 20px;
}

.value {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.labelConfirm {
  font-weight: bold;
  color: #f42850;
}
.labelDeath {
  font-weight: bold;
  color: #0841d5;
}
.labelRecover {
  font-weight: bold;
  color: #1cb142;
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: left;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
